@import "../../../../styles.scss";

nav{
	background: #fff;	
	border-bottom: 1px solid rgba(150,150,10,0.1);

	.navbar-brand{
		height: 70px;	
		width: 252px;
		padding: 10px 15px;
		img{
			margin: 0 auto;
		}
	}	

	.navbar-nav{
		position: relative;
		li{
			.access{
				line-height: 70px;
				font-size: 12px;
				font-family: map-get($fonts,MyriadRegular);
				margin-right: 10px
			}
			a{				
				line-height: 40px;	
				padding-left: 5px;		
				padding-right: 5px;				

				i{
					color: map-get($colors, roxo);
				}

			}

			&:hover a i{
				color: #000;
			}

			.dropdown-menu{
				li{
					a{
						line-height: 20px !important;
						font-family: map-get($fonts, MyriadRegular);
					}					
				}
			}

			&:hover{
				a{
					background: transparent;
				}
			}

			&:last-child a{
				color:#000;
				font-family: map-get($fonts, MyriadRegular);
				font-size: 12px;
			}
		}

		.form-group{
			position: relative;
			margin-top: 17px;
			min-width: 250px;
			.form-control{
				border: 0px;
				box-shadow: 0px 0px 0px transparent;
				font-family: map-get($fonts, MyriadPro);

				&:focus{
					box-shadow: 0px 0px 0px transparent;
					background: rgba(150,150,150,0.1);
				}
			}

			a{
				position: absolute;
				top: 5px;
				right: 5px;
				color: #000;
				font-size: 16px;
			}
		}
	}

	.collapsed{
		width: auto !important;
		padding: 10px;
	}
}

@media(max-width: 768px){
	.navbar-toggle{
		position: absolute;
	    right: 10px;
	    top: 2px;
	    font-size: 23px;
	}

	.navbar-brand{
		width: 100% !important;
	}

	.navbar-right{
		float: right;

		li{
			display: inline-block;
		}
	}

	.navbar-nav .dropdown .dropdown-menu{
		position: absolute;
		left: -30px;
		background: #fff;
		box-shadow: 0 6px 12px rgba(0,0,0,.175);
		li{
			display: block;
		}
	}
}