<nav class="navbar navbar-fixed-top">
	<div class="container-fluid">    	
    	<div class="navbar-header">      	
    		<button type="button" class="navbar-toggle collapsed" (click)="collapseLayout()">
	    		<i class="icon-menu-1"></i>
	    	</button>    		
      		<a class="navbar-brand" href="#">
      			<img src="./assets/img/logo.png" class="w150" />      			
      		</a>
    	</div>		
    	<div class="nav navbar-nav navbar-left hidden-xs">
    		<div class="form-group">
    			<input type="text" class="form-control" placeholder="Digite aqui o que você precisa...">
    			<a class="c-p">
    				<i class="icon-search"></i>
    			</a>
    		</div>
    	</div>

    	<ul class="nav navbar-nav navbar-right pr15">
    		<li>
    			<span class="access">Último Acesso: 10/05/2018</span>
    		</li>
    		<li class="dropdown">    			
    			<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    				<i class="icon-user-1"></i>
    			</a>
    			<ul class="dropdown-menu animated flipInY">
    				<li><a href="#">Action</a></li>
    				<li><a href="#">Another action</a></li>
    				<li><a href="#">Something else here</a></li>
    				<li role="separator" class="divider"></li>
    				<li><a href="#">Separated link</a></li>
    			</ul>
    		</li>
    		<li class="dropdown">    			
    			<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    				<i class="icon-cog-alt"></i>
    			</a>
    			<ul class="dropdown-menu animated flipInY">
    				<li><a href="#">Action</a></li>
    				<li><a href="#">Another action</a></li>
    				<li><a href="#">Something else here</a></li>
    				<li role="separator" class="divider"></li>
    				<li><a href="#">Separated link</a></li>
    			</ul>
    		</li>
    		<li>
    			<span class="access pl10">|</span>
    		</li>
    		<li>
    			<a class="c-p help">
    				Ajuda
    			</a>    			
    		</li>
    	</ul>    	
	</div><!-- /.container-fluid -->
</nav>